
:root {
  --ratio: 1.4;
  --s0: 1em;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));

  --spacing: var(--s0);
  --stackSpacing: var(--s0);

  --gray: #eeeeee;
  --black: black;
  --white: white;
  --contrast: yellow;
  
  
}

html, body, main , #__next{
  width: 100%; height: 100%;
}

body {
  background: var(--gray);
  line-height: 1.2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}
*::selection {
  background-color: var(--contrast);
}


.noEvents {
  pointer-events: none;
}
.hasEvents {
  pointer-events: all;
}

.padded {
  padding: var(--spacing);
}
.padded\:s1 {
  padding: var(--s1);
}
.padded\:s-1{
  padding: var(--s-1);
}
.marginTop {
  margin-top:  var(--spacing);
}
.border {
  border: 1px solid var(--black);
}
.button:hover {
  background: var(--contrast);
  cursor: pointer;
}

.fullBleed {
  width: 100%;
  height: 100%;
}
.containBG {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.coverBG {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fullHeight {
  height: 100%;
}
.fullWidth {
  width: 100%;
}

.narrow {
  width: 56ch;
  max-width: 100%;
  z-index: 2;
}

.flipHover {
  cursor: ne-resize;
  cursor: alias;
}
.clickHover {
  cursor: pointer;
}
.halfWidth {
  width: max(60%, calc(600px + 2* var(--spacing)));
  position: relative;
}
.whiteFill {
  background: var(--white);
}
.contrastFill {
  background: var(--contrast);
}


.caption {
  font-size: var(--s-1);
}
.noOverflow {
  overflow: hidden;
}
.noOverflowX {
  overflow: hidden;
}
.hide {
  display: none;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--stackSpacing);
  justify-content: center;
}




.stack {
  display: flex; 
  flex-direction: column;
  --stackSpacing: var(--s0);
}

.stack > * + * {
  margin-top: var(--stackSpacing);
}

.stack .align-end {
  margin-top: auto;
}
.horizontal-stack .align-end {
  margin-left: auto;
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  --stackSpacing: var(--s0);
}

.horizontal-stack > * + * {
  margin-left: var(--stackSpacing);
}


.stackSpacing\:noGap {
  --stackSpacing: 0;
} 

.stackSpacing\:s1 {
  --stackSpacing: var(--s1);
}
.stackSpacing\:s-1 {
  --stackSpacing: var(--s-1);
}

.flex-1 {
  flex: 1
}



input {
  all: unset;
}
input::placeholder {
  color: inherit;
}

@media screen and (max-width: 600px) {
  ::root {
    width: calc(100% - 2 * var(--spacing));
  }
}
  