.tarotCardContainer {
  --aspect: 1.72;
  --cardPadding: var(--s-1);
  --cardHeight: calc(25 * 1em + 2* var(--cardPadding));
  --cardWidth: calc(29ch + 2* var(--cardPadding));
}
.tarotCard {

  height: var(--cardHeight);
  min-height: var(--cardHeight);
  width: var(--cardWidth);
  position: relative;
  padding: var(--cardPadding);
}
.tarotCardContainer .containHeight {
  min-height: var(--s5);
  max-height: var(--s5);
}

.tarotCard p {
  width: 90%;
}

.astral .tarotCard {
  --light: #a788b8;
}

.weave .tarotCard {

  --light: #8bb897;
}

.flow .tarotCard {

  --light: #dbd7af;
}

.chime .tarotCard {
  --light: #e4b9af;
}



.tarotCard pre code {
  color: var(--light);
}

.tarotCard.lightFill {
  background: #dcf9ff;
  color: #10163b;
  border: 1px solid var(--light);
}

.tarotCard .contentContainer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  
}
.glow {
  box-shadow: 0px var(--s1) var(--s4) rgba(0,0,0,0.2), 0px var(--s-1) var(--s-1) rgba(0,0,0,0.1);
}


